langchain
langchain-core
langchain-community
pypdf
pymupdf
langchain-huggingface
sentence-transformers
langchain-chroma
chromadb
langchain-groq
fastapi
uvicorn
python-multipart
python-dotenv
streamlit